body {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
        "main"
        "footer";

    header {
        grid-area: header;

    }

    main {
        grid-area: main;
    }

    footer {
        margin-top: 30px;
        grid-area: footer;
        padding: 10px;
        background-color: $color1;
        display: flex;
        flex-direction: column;

        img {
            inline-size: 50px;
        }

        h5 {
            font-size: small;
        }

    }
}

.desarrollador {
    margin-top: 20px;
    text-align: end;
    text-align: right;
}

.barranav {
    background: linear-gradient($color1, $color2);
    padding-left: 20px;
    padding-right: 20px;
}

