.grid_quienes {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f"

}

.header_quienes {
    grid-area: h;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "b b b b b b b b b b b b"
        ". . l l l l l l l l . ."
        "ba ba ba ba ba ba ba ba ba ba ba ba"
        "bb bb bb bb bb bb bb bb bb bb bb bb"
        "n n n n n n n n n n n n";
}

.header__barra {
    grid-area: b;
}

.logo_quienes {
    grid-area: l;
    width: 100%;
}

.banner_quienes1 {
    grid-area: ba;
    width: 100%;
}

.banner_quienes2 {
    grid-area: bb;
    width: 100%;
}

nav {
    grid-area: n;
}

.quienes {
    grid-area: m;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: ". ti ti ti ti ti ti ti ti ti ti ."
        ". . te te te te te te te te . ."
        ". . . . . li li . . . . . "
        ". if if if if if if if if if if . ";
}

.quienes_titulo {
    grid-area: ti;
}

.quienes_texto {
    grid-area: te;
}

.quienes_linkubicacion {
    display: block;
    grid-area: li;
}

.quienes_iframe {
    grid-area: if;
}

.quienes_footer {
    grid-area: f;
}